file/src/main/mule/file.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41fbcfa2-8736-4bea-9830-2df39521d585" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="e5acc461-4afe-4681-b8d0-ec8a38c5142b" />
	<flow name="fileFlow" doc:id="4bbc13d8-c5b4-4d68-a54b-a2b6e1df412f" >
		<http:listener doc:name="Listener" doc:id="0e6e88c2-9580-420e-9498-df8b886fc6be" config-ref="HTTP_Listener_config" path="file"/>
		<file:read doc:name="Read" doc:id="4c2a4d99-d02a-48da-a0a7-766591772709" config-ref="File_Config" path="C:\Users\sweth\OneDrive\Desktop\text.json1.txt"/>
		<ee:transform doc:name="Transform Message" doc:id="e16b0e3f-8180-4dc6-8d26-eefd1315af6b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="4427a814-6445-4874-8258-232f4b47222e" message="#[payload]"/>
	</flow>
</mule>
